.container {
  width: clamp(15rem, 12.321rem + 13.39vw, 24.75rem);
}

.tabs {
  float: right;
}

.tab-buttons {
  margin-right: 10px;
  padding: 4px;
  margin-bottom: 10px;
  background: transparent;
  border: 2px inset transparent;
  cursor: pointer;
}

.tab-buttons:hover,
.tab-buttons[aria-pressed="true"] {
  background-color: rgb(107, 107, 107);
  border: 2px inset rgb(255, 255, 255);
}

.tab-buttons:last-child {
  margin-right: 0;
}